*.iml
.gradle
/local.properties
/app/release-key.jks
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release-key.jks
.kotlin/
*.log
keys_*.txt
missing_*.txt
recovery_keys_extracted.txt
app/debug/
